/* FOOTER */
.footer-wrapper {
	height: 12.5rem;
	margin-top: auto;
	background-color: #000;
	color: #fff;
	text-align: center;
}
.footer-logo {
	height: 2.25rem;
	margin-top: 3.75rem;
	filter: brightness(0) invert(1);
}
.footer-credit {
	margin-top: 2.5rem;
	font-size: 0.75rem;
	font-weight: 500;
}
@media screen and (min-width: 768px) {
	.footer-credit {
		margin-top: 1.9375rem;
		font-size: 1.5rem;
   }
}
